[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyspark = "*"
python-dotenv = "*"
spark-nlp = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
